
#results {
  width: 80%;
  min-width: 600px;
  margin: auto;
}

.item {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr 1fr;
  grid-column-gap: 20px;
  padding: 8px;
  text-align: center;
  border-radius: 2px;
}

.item * {
  margin: 2px;
}

.item img {
  display: flex;
  vertical-align: middle;
  margin: auto;
}

.listSong>.item {
  margin: 8px 0;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  background-color: #fff;
  position: relative;
  transition: transform 0.5s, background-color 0.5s;
}

.listSong>.item:hover {
  transform: scale(1.004);
  background-color: #f8d3db;
}

.listSong div {
  align-items: center;
}

.listSong span {
  overflow: hidden;
}

.listSong button {
  margin: auto;
  padding: 0.5em 1em;
}
